.item.active{
	width: 100%;
	max-height: 15em;	
}
h1{
font-family: 'Pacifico', cursive;

	color: #ffffff;
	text-align: center;
}
#primeraFila{
	text-decoration: bold;
	font-size: 2em;
font-family: 'Pacifico', cursive;
}
#fila{
	font-size: 1em;
	font-family: 'Kalam', cursive;
}	
#contenedorTabla{
	background-color: #bfe5f2;
				
				border-radius: 10px 10px 15px 15px;
				padding-bottom: 3em;
				padding-top: 1em;
				opacity: .9;
}