			
			#leftBorderTop{
				border-radius: 15px 0 0 0px;	
			}
			#rightBorderTop{
				border-radius: 0 15px 0 0;	
			}		
			#leftBorderBottom{
				border-radius: 0 0 0 15px;
			}
			#rightBorderBottom{
				border-radius: 0 0 15px 0;
			}
			#rowTicketTop{
				border-radius: 15px 15px 0 0;
			}
			#rowTicketBottom{
				border-radius: 0 0 15px 15px;
			}
			#filters{
				background-color: #bfe5f2;
				padding-left: 3em;
				border-radius: 15px 15px 15px 15px;
				opacity: .85;
			}
			#orderBy{
				padding-bottom: 1em;
			}
			#breadcrumb{
					background-color: #bfe5f2;
			}
			#flightForm{
				background-color: #bfe5f2;
				padding-bottom: 1em;
				padding-top: 1em;
				opacity: .8;
			}
			#button{
				color: black;
			}
			#ticket{
				padding-bottom: 1em;
				padding-left: 1em;
				opacity: .9;
				
			}
			#ticket h4{
				font-family: 'Pacifico', cursive;
				text-decoration: bold;
			}
			#ticket h6{
				font-family: 'Kalam';
			}
			.row-ticket{
				color: black;
				background-color: #e5f8ff;
				display: flex;
			  display: -webkit-flex;
			}
			.dark{
				background-color: #bfe5f2;
			}  
			#dateFrom, #dateTo, #from, #to{
				width: 10em;
			}