@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Kalam|Pacifico|Raleway:600');
#header{
					background-color: #aad5e6;
font-family: 'Pacifico', cursive;
					color: #ffffff;
					padding-left: 2em;
					
					-webkit-box-shadow:0px 0px 30px 15px #ababab ;
					-moz-box-shadow:0px 0px 30px 15px #ababab ;
					box-shadow:0px 0px 30px 15px #ababab ;
					opacity: 0.9;
					margin-bottom: 1em;
			}
body {
        		background: url(../img/background.jpeg);
        		background-size: 100% 100%;
    			background-repeat: no-repeat;
    		    background-attachment: fixed;

			}

.pbChooseFlight{
	background-color: #86A3DE
}
.pbPaymentMethod{
	background-color: #A1B5DE
}
.pbConfirmation{
	background-color: #B4C7EE
}
.actual{
	text-shadow: 0px 0px 30px rgba(255, 255, 255, 1.0);
	color: black;
}
footer{
	width: 100%;
	position: fixed;
	height: 15px;
	bottom: 0;
	background-color: #aad5e6;
	
	-webkit-box-shadow:0px 0px 30px 15px #ababab ;
	-moz-box-shadow:0px 0px 30px 15px #ababab ;
	box-shadow:0px 0px 30px 15px #ababab ;
	opacity: .8;
}
footer h3{
	position: fixed;
font-family: 'Pacifico', cursive;
	color: #ffffff;
	text-align: center;
}
.linkbar{
font-family: 'Kalam';
color: white;

}
