#header{
					background-color: #aad5e6;
					font-family: "Forte";
					color: #ffffff;
					padding-left: 2em;

			}
body {
        		color: #655959;
        		background: url(../img/background.jpeg);
        		background-size: 100% 100%;
    			background-repeat: no-repeat;
			}