//Css Home
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

#formulario{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 20%;
	margin-right: 20%;
    background-color: #99F9F3 ;
    border: double ##FFFFFF; 
    border-radius: 10px;
    opacity: 0.5;
	width: 60%;
	height: 30%;
}
form{
	margin:5px;
	opacity: 1;
	align-content: center;
	font-family: "Raleway"
}
form input, form label{
	float: left;
	max-width: 45%;
}
.little{
	width: 10%;
}
