#flightFormT{
				background-color: #bfe5f2;
				border-radius: 15px 15px 0px 0px;
				padding-bottom: 1em;
				padding-top: 2em;
				margin-top: 2em;
			}

			#flightFormB{
				background-color: #bfe5f2;
				
				border-radius: 0px 0px 15px 15px;
				padding-bottom: 3em;
				padding-top: 1em;
				opacity: .9;
			}

			
			#roundTrip {
				width: 15px; 
				height: 15px;
			}
			
			#fechas, #pasajeros{
				padding: 0;
			}
			
			.btn {
				opacity: .9;
    			width: 6em;
    			height:  3em;
    			margin: 1em;
			}
#destacados{

}
#destacado{
	border-radius: 15px;
	max-height: 10em;	
}
.carousel-caption{
	font-family: 'Raleway', sans-serif;

	font-size: 3em;	
}