			.paymentMethod, .billingInformation{
				border-radius: 15px 15px 15px 15px;
				padding-top: 1em;
				margin-top: 3em;
				background-color: #bfe5f2;
				opacity: .9;
				margin-bottom: 2em;
				height: 23em;
			}
			.contact{
				border-radius: 15px 15px 15px 15px;
				padding-top: 1em;
				margin-top: 3em;
				background-color: #bfe5f2;
				opacity: .9;
				margin-bottom: 2em;
				height: 14em;
			}
			
			.passengerInfo{
				border-radius: 15px 15px 15px 15px;
				padding-top: 1em;
				margin-top: 3em;
				background-color: #bfe5f2;
				opacity: .9;
				margin-bottom: 2em;
				height: auto;
				padding: 1em;
			}
			thead{
				color: white;
			}
			th{
				font-family: 'Pacifico';
			}
			td{
				font-family: 'Kalam';
			}
			
			#breadcrumb{

					background-color: #aad5e6;
			}
			
			label{
				font-family: 'Kalam', cursive;
			}
			h3{
				font-family: 'Pacifico', cursive;
				text-align: center;
				text-decoration: bold;
			}
			.btn{
				float: right;
				width: 100%;
				margin-bottom: 2em;
			}
			
			
		