			.paymentMethod{
				background-color: #aad5e6;
				padding-left: 3em;
				border-radius: 15px 15px 15px 15px;
				padding-bottom: 20em;
				padding-top: 1em;
			}
			#header{
					background-color: #aad5e6;
			}
			#breadcrumb{

					background-color: #aad5e6;
			}
			.btn {
   				background: #8b8a88;
    			color: #ffffff;
			}