			.paymentMethod{
				border-radius: 15px 15px 15px 15px;
				padding-top: 1em;
				margin-top: 3em;
				background-color: #bfe5f2;
				opacity: .9;
				margin-bottom: 2em;
				padding-bottom: 23em;
			}
			
			#breadcrumb{

					background-color: #aad5e6;
			}
			
			label{
				font-family: 'Kalam', cursive;
			}
			h3{
				font-family: 'Pacifico', cursive;
				text-align: center;
				text-decoration: bold;
			}
			.btn{
				float: right;
				margin-top: 2em;
			}
			
		