section{
	width: 100%;
	height: auto;
	background-color: #bfe5f2;
	border-radius: 15px 15px 15px 15px;
	padding: 2em;
	opacity: .9;
	margin-bottom: 1em;
}
#ratings{
	padding-left: 0;
}
#ratings2{
	padding-right: 0;
}
h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
	text-decoration: bold;
	margin-top: -0.3em;
}
h6{
	font-family: 'Kalam';
	text-decoration: bold;
}
input{
	font-family: 'Kalam';
}
button{
	width: 100%;
}